virtualenv
requests
pyquery
numpy
pandas
scikit-learn
matplotlib
tensorflow
missingno
scipy
seaborn
openpyxl

thefuck
pyspider
jupyter
mycli
git+https://github.com/jeffkaufman/icdiff.git
tldr
jupyterlab
