virtualenv
requests
pyquery
numpy
pandas
scikit-learn
matplotlib
tensorflow
missingno
scipy
seaborn
openpyxl

thefuck
pyspider
jupyter
mycli
git+https://github.com/jeffkaufman/icdiff.git
tldr
jupyterlab

jedi>=0.9.0
json-rpc>=1.8.1
service_factory>=0.1.5
flake8
autoflake

